.login,
.signup {
    width: 300px;

    .header {
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 10px 20px;
            color: $dark3;
        }

        .field {
            margin: 0px;
            border-bottom: 1px solid rgba($dark6, 0.5);
        }

        .button {
            color: white;
            background-color: $green3;
            font-weight: 400;
        }
    }

    .footer {
        margin: 10px 0px;
        font-size: .8rem;
    }

    .error {
        background-color: $red6;
        padding: 10px 20px;
        margin: 10px 0px;
        color: $red3;
        border: 1px solid $red2;
        border-radius: 3px;
    }
}
