.login,
.signup {
    width: 350px;

    .header {
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 20px 20px;
            padding-left: 0px;
            color: $dark3;
        }

        .field-wrapper {
            padding-left: 20px;
            background-color: white;
            border-bottom: 1px solid rgba($dark6, 0.5);

            i {
                width: 10px;
                color: $dark3;
                margin-right: 20px;
            }
        }
        .field {
            width: 250px;
            margin: 0px;
        }

        .button {
            padding: 20px 20px;
            color: white;
            background: linear-gradient(left, $green1 10%, $blue1 100%);
        }
    }

    .footer {
        margin: 20px 0px;
        font-size: .8rem;
        text-align: right;
    }

    .error {
        background-color: $red6;
        padding: 10px 20px;
        margin: 10px 0px;
        color: $red3;
        border: 1px solid $red2;
        border-radius: 3px;
    }
}
